body {
	font-size: 1.25rem
}

.top-navigation li {
  font-size: 1.5rem;
}

.site-name {
font-size: 1.5rem;
}

#index article h2 {
  font-size: 1.5rem;
}

#index article p {
  font-size: 1.25rem;
}	

p {
	padding-bottom: 10px;
}

p+p {
	text-indent: 0;
}